---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    keywords?: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  keywords={frontmatter.keywords}
>
  <main>
    {frontmatter.title && <h1>{frontmatter.title}</h1>}
    <article>
      <slot />
    </article>
  </main>
</BaseLayout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
